body {
	height: 100%;
	width: 100%;
	background-image: url("paper.gif");
	background-size: cover;
}

footer {
	font-size: .5em;
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 30px;
	left: 0px;
}

form {
	width: 250px;
	margin-left: 25px;
	display: block;
}

img {
	width: 250px;
	height: 200px;
}

.thumbnail {
	display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#mypicture {
	margin-left: 30%;
}

@media screen and (min-width: 501px) {

	h3 {
		padding-left: 3%;
	}

	nav {
		list-style-type: disc;
	}

	p {
		padding-left: 3%;
		width: 80%;
	}

	.contactheading {
		margin-left: 25px;
	}

	 .mainbox {
	 	background-image: url("paper.gif");
		margin-left: 130px;
		background-size: cover;
		background-color: #DED6BE;
	    width: 85%;
	    height: 100%;
	}

	.mainheading {
		padding-left: 34%;
	}

	.sidebar {
		background-color: #B7AA82;
	  	padding-left: 10px;
	  	width: 125px;
	  	height: 100%;
	    display: inline-block;
	    vertical-align: top;
	    border-right: 2px black solid;
	    position: fixed;
	    margin-top: -20px;
	}

	#mypicture {
		margin-left: 30%;
	}

}

@media screen and (max-width: 500px) {

	h3 {
		text-align: center;
	}

	li {
		display: inline;
		padding-right: 20px;
	}

	p {
		text-align: center;
	}

	ul {
		list-style-type: none;
		margin-left: 17%;
	}

	 .mainbox {
	    width: 100%;
	   	padding-top: 10%;
	    display: block;
	}

	.mainheading {
		text-align: center;
	}

	#mypicture {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.sidebar {
		background-color: #B7AA82;
	  	padding-left: 10px;
	  	width: 100%;
	  	height: 7%;
	    display: block;
	    vertical-align: top;
	    border-right: 2px black solid;
	    position: fixed;
	    margin-left: -15px;
	    margin-top: -10px;
	    border-bottom: 2px black solid;
	}

}
